In [2]:
import json

import pandas as pd

from sklearn.model_selection import train_test_split

In [4]:
path_to_train_json='/data/KAGGLE/iwildcam-2020-fgvc7/iwildcam2020_train_annotations.json'
path_to_test_json='/data/KAGGLE/iwildcam-2020-fgvc7/iwildcam2020_test_information.json'
path_to_megadetector_json='/data/KAGGLE/iwildcam-2020-fgvc7/iwildcam2020_megadetector_results.json'
path_to_data_dir='/data/KAGGLE/iwildcam-2020-fgvc7'

In [5]:
train_js = json.load(open(path_to_train_json))

In [11]:
train_js.keys(), len(train_js['annotations']), len(train_js['images']), len(train_js['categories']),  len(train_js['info']),

(dict_keys(['annotations', 'images', 'categories', 'info']),
 217959,
 217959,
 267,
 4)

In [13]:
pd.DataFrame({'image': train_js['images'], 'annotation': train_js['annotations']})

,image,annotation
0,"{'seq_num_frames': 1, 'location': 267, 'dateti...","{'count': 1, 'image_id': '96b00332-21bc-11ea-a..."
1,"{'seq_num_frames': 1, 'location': 264, 'dateti...","{'count': 1, 'image_id': '879d74d8-21bc-11ea-a..."
2,"{'seq_num_frames': 1, 'location': 45, 'datetim...","{'count': 1, 'image_id': '9017f7aa-21bc-11ea-a..."
3,"{'seq_num_frames': 1, 'location': 45, 'datetim...","{'count': 1, 'image_id': '90d93c58-21bc-11ea-a..."
4,"{'seq_num_frames': 1, 'location': 45, 'datetim...","{'count': 1, 'image_id': '887cd0ec-21bc-11ea-a..."
...,...,...
217954,"{'seq_num_frames': -1, 'location': 218, 'datet...","{'count': 1, 'image_id': '8b7899a2-21bc-11ea-a..."
217955,"{'seq_num_frames': -1, 'location': 218, 'datet...","{'count': 1, 'image_id': '958f609c-21bc-11ea-a..."
217956,"{'seq_num_frames': -1, 'location': 218, 'datet...","{'count': 1, 'image_id': '93bd2ede-21bc-11ea-a..."
217957,"{'seq_num_frames': -1, 'location': 218, 'datet...","{'count': 1, 'image_id': '8971956e-21bc-11ea-a..."
217958,"{'seq_num_frames': -1, 'location': 218, 'datet...","{'count': 1, 'image_id': '94529be0-21bc-11ea-a..."

In [25]:
 
for i in range(1000):    
    assert train_js['images'][i]['id'] == train_js['annotations'][i]['image_id']

In [24]:
train_js['images'][i], train_js['annotations'][i]

({'seq_num_frames': 1,
  'location': 267,
  'datetime': '2013-08-08 11:45:00.000',
  'id': '96b00332-21bc-11ea-a13a-137349068a90',
  'frame_num': 1,
  'seq_id': '96b004ea-21bc-11ea-a13a-137349068a90',
  'width': 1795,
  'height': 1222,
  'file_name': '96b00332-21bc-11ea-a13a-137349068a90.jpg'},
 {'count': 1,
  'image_id': '96b00332-21bc-11ea-a13a-137349068a90',
  'id': 'a292dd3c-21bc-11ea-a13a-137349068a90',
  'category_id': 73})

In [6]:
pd.DataFrame(train_js['annotations'])

,count,image_id,id,category_id
0,1,96b00332-21bc-11ea-a13a-137349068a90,a292dd3c-21bc-11ea-a13a-137349068a90,73
1,1,879d74d8-21bc-11ea-a13a-137349068a90,a0afcfc0-21bc-11ea-a13a-137349068a90,4
2,1,9017f7aa-21bc-11ea-a13a-137349068a90,a306e9c0-21bc-11ea-a13a-137349068a90,227
3,1,90d93c58-21bc-11ea-a13a-137349068a90,9eed94c4-21bc-11ea-a13a-137349068a90,250
4,1,887cd0ec-21bc-11ea-a13a-137349068a90,a2a4dd7a-21bc-11ea-a13a-137349068a90,2
...,...,...,...,...
217954,1,8b7899a2-21bc-11ea-a13a-137349068a90,9b4c9de2-21bc-11ea-a13a-137349068a90,372
217955,1,958f609c-21bc-11ea-a13a-137349068a90,9a379740-21bc-11ea-a13a-137349068a90,372
217956,1,93bd2ede-21bc-11ea-a13a-137349068a90,9d0a3c0c-21bc-11ea-a13a-137349068a90,372
217957,1,8971956e-21bc-11ea-a13a-137349068a90,9fe5065a-21bc-11ea-a13a-137349068a90,372
217958,1,94529be0-21bc-11ea-a13a-137349068a90,9a75989c-21bc-11ea-a13a-137349068a90,372

In [20]:
train_img, valid_img = train_test_split(train_js['annotations']) 
train_ann, valid_ann = train_test_split(train_js['annotations'])